/* ***** global reset***** */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property */
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/* ************************************************** */

/* ***** global ***** */



body{
    background-color: rgb(52,51,49);
}

p{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 18px;
    line-height: 26px;
}

a{
    padding: 5px;
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-family: 'Montserrat', sans-serif;
}

/* ***** header ***** */


.header-container {
    background-image: url(images/hero-image-blacksmith2.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: block;
    margin:0px;
    postion: relative;
    border-bottom: 2px solid rgb(58, 58, 58);
}

.name{
    color: rgb(253,198,1);
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 35%;
    font-family: Montserrat;
    text-shadow: 0 0 10px rgb(207,51,0);
    text-align: center;
}

.contents{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    
}

/* ***** navigation ***** */

.navigation{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 30px;
    position: sticky;
    top: 0;
    background-color: rgb(207,51,0);
}

li{
    list-style: none;
    display: inline-block;
    padding: 0 10px 10px 10px;
    margin: 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 15px;
}


.nav-list a:hover{
    color: whitesmoke;
    transition: 0.3s ease;
    cursor: pointer;
}

.main-body {
    color: rgb(192, 192, 191);
}

h2, h3 {
    font-family: Montserrat;
    font-size: 18px;    
}

h2 {
    
    color: rgb(253,198,1);
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 10px;
}

h2 i {
    font-size: 18px;
}

#bio,
#projects{
    background-color: rgb(30,30,30);
}

#bio, #skills, #projects {
    padding-bottom: 150px;
}

/* ***** about me section ***** */

#bio{
    padding: 5px 21% 150px;
}

#bio p {
    text-align: center;
}

.profile-pic{
    border-radius: 3px;
    border: 2px solid rgb(238,238,238);
    margin: 0px 0px 10px 32px;
    float: none;
}



/* ***** skills section ***** */



.main-child{
    padding: 5px 15% 50px;
    max-width: 100%;
    /* color: black;  */
}

.skills-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills-container {
    text-align: center;
    width: 50%;
    padding: 25px 0px;
}

.skills-container h3 {
    color: rgb(207,51,0);
}

/* ***** projects section ***** */

.my-projects {
    text-align: center;
    padding: 40px 0px;
}

.my-projects h3 {
    padding: 10px 0px;
}

.project-image{
    max-width: 100%;
    height: auto;
    width: auto\9;
    border-radius: 3px;
    
}

.tech-label {
    padding: 20px 0px;
}

.project-links {
    color: rgb(207,51,0);
    padding:2px;
}

.pl {
    margin: 10px 0px;
}

.project-links:hover {
    cursor: pointer;
    border-top: 2px solid rgb(207,51,0);
    border-bottom: 2px solid rgb(207,51,0);
}


/* ***** contacts section ***** */

#contact{
    padding: 5px 5% 50px;
    text-align: center;
}

.contact-item{
    list-style: none;
    display: inline-block;
    margin: 0 2px;
}

.contact-item i {
    color: rgb(207,51,0);
    padding: 3px 0px;
}

.contact-item i:hover {
    cursor: pointer;
    border-top: 2px solid rgb(207,51,0);
    border-bottom: 2px solid rgb(207,51,0);
    
}

.contacts p{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 18px;
    color: white;
}

footer {
    text-align: center;
}


@media only screen and (min-width: 700px) {

    .header-container {
        background-image: url(images/hero-image-blacksmith2.jpeg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        height: 90vh;
        width: 100%;
        display: block;
        margin:0px;
        position: relative;
        border-bottom: none;
    }


    .name{
        color: rgb(253,198,1);
        font-size: 26px;
        position: absolute;
        right: 5%;
        bottom: 15%;
        font-family: Montserrat;
        text-shadow: 0 0 10px rgb(207,51,0);
    }

    .navigation{
        display: flex;
    }

    #bio p {
        text-align: left;
    }

    .profile-pic{
        border-radius: 3px;
        border: 2px solid rgb(238,238,238);
        margin: 0px 60px 0px 0px;
        float: left;
    }

    .skills-container {
    text-align: center;
    width: 50%;
    padding: 25px 0px;
}

    .skills-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}